@model EmotionPlatzi.Models.Home

@{
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexAltWOLayout</title>
</head>
<body>
    <div>
        this is the text inside the new view
    </div>

    @section scripts
        {
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <script src="~/Scripts/modernizr-2.8.3.js"></script>
    }

</body>
</html>
